<%-include('header')-%>

<!-- <div class="text-center center-div mt-5" id="login">
    <div class="container w-25 border py-5 mt-5">
        <h3>Welcome to Express Dashboard</h3>
        <h5><%= locals.user ? user : "User" %></h5>
        <a href="/route/logout">logout</a>
    </div>
</div> -->

<nav class="navbar navbar-expand-lg navbar-secondary bg-secondary p-4">

    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
      <a class="navbar-brand mx-auto  " id="mishal" href="#">MOVIES NOW</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn btn-dark rounded-pill me-4" href="/route/logout" id="loggo">Logout</a>
        </li>
      </ul>
    </div>
</nav>

<section>
  <div class="container mt-4" >

    <div class="row ms-5 card-text mb-5" >
    <% movies.forEach(function(movies) { %>
       
        <div class="col-md-3 me-5 gx-5 gy-5 mt-4  " >
        
        <div class="card    shadow-lg  " style="width: 18rem; border-radius: 40px; ">
            <img class="card-img-top mt-2 ms-3" src="<%= movies.src %>" alt="Card image cap" style="height: 18em; width: 90%; object-fit: contain;">
            <div class="card-body text-center bg-body-tertiary" style="height: 12em;">
                <h5 class="pt-4 card-title  fw-bold"><%= movies.name %></h5>
                <p class="pt-2 text-center  card-text desc "><%= movies.descrption %></p>
                <a href="#" class="btn justify-content-center  btn-dark shadow-lg  btn-card rounded-pill ">Watch Now</a>
                
                
            </div>
        </div>
    </div>
    <% }); %>
</div>
</div>
</section>

<%-include('footer')-%>